# Unreal generated
*/Build
Build
BuildWindows
Binaries
*/DerivedDataCache
Intermediate
Saved
*_BuiltData.uasset
Content/StarterContent

# Visual studio reproducables
*.db
*.vs

# Rider files
*.idea
